@font-face {
    font-family: netflix;
    src: url(../fonts/netflix-font.ttf);
}
@font-face {
    font-family: cocogoose;
    src: url(../fonts/tommy-bold.otf);
}


body {
    background-color: black;
    padding: 0;
    margin: 0;
}

/* ----------------------------SIGN IN and REGISTRATION ---------------------------------*/
input {
    text-align: center;
}
.title-main {
    text-align: center;
    margin-top: 25%;
    font-size: 5.8rem;
    color: red;
    font-family: netflix;
    margin-bottom: 35%;
}
.sign_in_button {
    box-shadow: 5px 5px 10px;
    font-family: cocogoose;
    height: 3.5rem;
    width: 86%;
    border-radius: 0.5rem;
    margin-left: 7%;
    background-color: red;
    border: 1px solid red;
    margin-bottom: 10%;
    font-size: 1.4rem;
    text-decoration: none;
}
.sign_in_button:hover {
    cursor: pointer;
}
.sign_up_button {
    text-align: center;
    font-family: cocogoose;
    height: 3.5rem;
    width: 86%;
    border-radius: 0.5rem;
    margin-left: 7%;
    color: red;
    background-color: #000;
    border: 1px solid red;
    font-size: 1.4rem;
}
.sign_up_button:hover {
    cursor: pointer;
}
.username_input {
    width: 70%;
    height: 2rem;
    border-radius: 0.5rem;
    margin-left: 15%;
    border: 1px solid red;
    margin-bottom: 5%;
}
.password_input {
    width: 70%;
    height: 2rem;
    border-radius: 0.5rem;
    margin-left: 15%;
    border: 1px solid red;
    margin-bottom: 10%;
}

/* ----------------------------HOME---------------------------------*/
.main-header{
    padding: 0;
    margin: 0;
}
.logo-small {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 2;
    width: 15%;
    height: auto;
}

.header-picture {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

/* ----------------------------CATEGORIES ---------------------------------*/



.grid-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
}

.movies {
  background: black;
  padding: 0.5em 0;
  color: rgba(#f8f8f8 .6);
}


.movie {
  margin: 0;
  padding: 0;
  position: relative;
  
}
img {
    width: 100%;
    display: block;
  }
/* ----------------------------NAV-BAR---------------------------------*/