@font-face {
    font-family: netflix;
    src: url(../fonts/netflix-font.ttf);
}
@font-face {
    font-family: cocogoose;
    src: url(../fonts/Cocogoose.ttf);
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* ----------------------------SIGN IN and REGISTRATION ---------------------------------*/
input {
    text-align: center;
}
/* -------------------------XSMALL -----------------*/
@media only screen and (max-width: 575px) {
    .title-main {
        text-align: center;
        margin-top: 25%;
        font-size: 5.8rem;
        color: red;
        font-family: netflix;
        margin-bottom: 35%;
    }
    .title-main-registration {
        text-align: center;
        margin-top: 25%;
        font-size: 6rem;
        color: red;
        font-family: netflix;
        margin-bottom: 20%;
    }
    .sign_in_button {
        box-shadow: 3px 4px 2px rgb(49, 37, 37);
        font-family: cocogoose;
        height: 3.5rem;
        width: 40%;
        border-radius: 0.5rem;
        margin-left: 30%;
        background-color: red;
        border: 1px solid red;
        margin-bottom: 10%;
        font-size: 1.4rem;
    }
    .sign_in_button:hover {
        cursor: pointer;
    }
    .registration_button_form {
        width: 50%;
        margin: auto;
    }
    .sign_up_button {
        box-shadow: 3px 4px 2px red;
        font-family: cocogoose;
        height: 3.5rem;
        width: 40%;
        border-radius: 0.5rem;
        margin-left: 30%;
        color: red;
        background-color: black;
        border: 1px solid red;
        margin-bottom: 10%;
        font-size: 1.4rem;
    }
    .sign_up_button:hover {
        cursor: pointer;
    }
    .registration_button {
        box-shadow: 3px 4px 2px rgb(49, 37, 37);
        font-family: cocogoose;
        height: 3.5rem;
        width: 50%;
        border-radius: 0.5rem;
        margin: auto;
        color: red;
        background-color: red;
        color: #000;
        border: 1px solid red;
        font-size: 1.4rem;
    }
    .registration_button:hover {
        cursor: pointer;
    }
    .username_input {
        width: 60%;
        height: 2.7rem;
        border-radius: 0.5rem;
        margin-left: 20%;
        border: 1px solid red;
        margin-bottom: 5%;
        font-size: 1.2rem;
    }
    .password_input {
        width: 60%;
        height: 2.7rem;
        border-radius: 0.5rem;
        margin-left: 20%;
        border: 1px solid red;
        margin-bottom: 10%;
        font-size: 1.2rem;
    }
    .logo-small {
        width: 15%;
        height: auto;
    }
}

/* -----------------------SMALL-----------------------*/
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .title-main {
        text-align: center;
        margin-top: 10%;
        font-size: 8rem;
        color: red;
        font-family: netflix;
        margin-bottom: 10%;
    }
    .title-main-registration {
        text-align: center;
        margin-top: 5%;
        font-size: 9rem;
        color: red;
        font-family: netflix;
        margin-bottom: 6%;
    }
    .sign_in_button {
        box-shadow: 3px 4px 2px rgb(49, 37, 37);
        font-family: cocogoose;
        height: 3.4rem;
        width: 20%;
        border-radius: 0.5rem;
        margin-left: 40%;
        background-color: red;
        border: 1px solid red;
        margin-bottom: 5%;
        font-size: 1.6rem;
    }
    .sign_in_button:hover {
        cursor: pointer;
    }
    .sign_up_button {
        box-shadow: 3px 4px 2px red;
        font-family: cocogoose;
        height: 3.4rem;
        width: 20%;
        border-radius: 0.5rem;
        margin-left: 40%;
        color: red;
        background-color: #000;
        border: 1px solid red;
        font-size: 1.6rem;
    }
    .sign_up_button:hover {
        cursor: pointer;
    }
    .registration_button_form {
        width: 40%;
        margin: auto;
    }
    .registration_button {
        box-shadow: 3px 4px 2px rgb(49, 37, 37);
        font-family: cocogoose;
        height: 3.2rem;
        width: 60%;
        border-radius: 0.5rem;
        background-color: red;
        border: 1px solid red;
        margin-bottom: 10%;
        font-size: 1.5rem;
    }
    .registration_button:hover {
        cursor: pointer;
    }
    .username_input {
        width: 50%;
        height: 2.4rem;
        border-radius: 0.5rem;
        margin-left: 25%;
        border: 1px solid red;
        margin-bottom: 5%;
        font-size: 1.2rem;
    }
    .password_input {
        width: 50%;
        height: 2.4rem;
        border-radius: 0.5rem;
        margin-left: 25%;
        border: 1px solid red;
        margin-bottom: 7%;
        font-size: 1.2rem;
    }
    .logo-small {
        width: 15%;
        height: auto;
    }
}

/* ------------------MEDIUM -----------------------*/

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .title-main {
        text-align: center;
        margin-top: 6%;
        font-size: 9rem;
        color: red;
        font-family: netflix;
        margin-bottom: 7%;
    }
    .title-main-registration {
        text-align: center;
        margin-top: 5%;
        font-size: 10rem;
        color: red;
        font-family: netflix;
        margin-bottom: 6%;
    }
    .sign_in_button {
        box-shadow: 3px 4px 2px rgb(49, 37, 37);
        font-family: cocogoose;
        height: 3.5rem;
        width: 20%;
        border-radius: 0.5rem;
        margin-left: 40%;
        background-color: red;
        border: 1px solid red;
        margin-bottom: 5%;
        font-size: 2rem;
    }
    .sign_in_button:hover {
        cursor: pointer;
    }
    .sign_up_button {
        box-shadow: 3px 4px 2px red;
        font-family: cocogoose;
        height: 3.5rem;
        width: 20%;
        border-radius: 0.5rem;
        margin-left: 40%;
        color: red;
        background-color: #000;
        border: 1px solid red;
        font-size: 2rem;
    }
    .sign_up_button:hover {
        cursor: pointer;
    }
    .registration_button_form {
        width: 15%;
        margin: auto;
    }
    .registration_button {
        box-shadow: 3px 4px 2px rgb(49, 37, 37);
        font-family: cocogoose;
        height: 4rem;
        width: 100%;
        border-radius: 0.5rem;
        background-color: red;
        border: 1px solid red;
        margin-bottom: 10%;
        font-size: 1.7rem;
    }
    .registration_button:hover {
        cursor: pointer;
    }
    .username_input {
        width: 40%;
        height: 3.1rem;
        border-radius: 0.5rem;
        margin-left: 30%;
        border: 1px solid red;
        margin-bottom: 5%;
        font-size: 1.5rem;
    }
    .password_input {
        width: 40%;
        height: 3.1rem;
        border-radius: 0.5rem;
        margin-left: 30%;
        border: 1px solid red;
        margin-bottom: 3%;
        font-size: 1.5rem;
    }
    .logo-small {
        width: 11%;
        height: auto;
    }
    .main-header {
        max-height: 250px;
        overflow: hidden;
    }
}

/* -------------------------LARGE ---------------------*/

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .title-main {
        text-align: center;
        margin-top: 3%;
        font-size: 10rem;
        color: red;
        font-family: netflix;
        margin-bottom: 5%;
    }
    .title-main-registration {
        text-align: center;
        margin-top: 3%;
        font-size: 11rem;
        color: red;
        font-family: netflix;
        margin-bottom: 5%;
    }
    .sign_in_button {
        box-shadow: 3px 4px 2px rgb(49, 37, 37);
        font-family: cocogoose;
        height: 4rem;
        width: 20%;
        border-radius: 0.5rem;
        margin-left: 40%;
        background-color: red;
        border: 1px solid red;
        margin-bottom: 5%;
        font-size: 2rem;
    }
    .sign_in_button:hover {
        cursor: pointer;
    }
    .sign_up_button {
        box-shadow: 3px 4px 2px red;
        font-family: cocogoose;
        height: 4rem;
        width: 20%;
        border-radius: 0.5rem;
        margin-left: 40%;
        color: red;
        background-color: #000;
        border: 1px solid red;
        font-size: 2rem;
    }
    .sign_up_button:hover {
        cursor: pointer;
    }
    .registration_button_form {
        width: 15%;
        margin: auto;
    }
    .registration_button {
        box-shadow: 3px 4px 2px rgb(49, 37, 37);
        font-family: cocogoose;
        height: 4rem;
        width: 100%;
        border-radius: 0.5rem;
        background-color: red;
        border: 1px solid red;
        margin-bottom: 10%;
        font-size: 2rem;
    }
    .registration_button:hover {
        cursor: pointer;
    }
    .username_input {
        width: 40%;
        height: 3.1rem;
        border-radius: 0.5rem;
        margin-left: 30%;
        border: 1px solid red;
        margin-bottom: 2%;
        font-size: 1.8rem;
    }
    .password_input {
        width: 40%;
        height: 3.1rem;
        border-radius: 0.5rem;
        margin-left: 30%;
        border: 1px solid red;
        margin-bottom: 3%;
        font-size: 1.8rem;
    }
    .logo-small {
        width: 8%;
        height: auto;
    }
    .main-header {
        max-height: 250px;
        overflow: hidden;
    }
}

/* --------------------- X-LARGE ---------------------*/

@media only screen and (min-width: 1201px) {
    .title-main {
        text-align: center;
        margin-top: 5%;
        font-size: 13rem;
        color: red;
        font-family: netflix;
        margin-bottom: 7%;
    }
    .title-main-registration {
        text-align: center;
        margin-top: 5%;
        font-size: 12rem;
        color: red;
        font-family: netflix;
        margin-bottom: 3%;
    }
    .sign_in_button {
        box-shadow: 3px 4px 2px rgb(49, 37, 37);
        font-family: cocogoose;
        height: 4rem;
        width: 16%;
        border-radius: 0.5rem;
        margin-left: 42%;
        background-color: red;
        border: 1px solid red;
        margin-bottom: 5%;
        font-size: 2rem;
    }
    .sign_in_button:hover {
        cursor: pointer;
    }
    .sign_up_button {
        box-shadow: 3px 4px 2px red;
        font-family: cocogoose;
        height: 4rem;
        width: 16%;
        border-radius: 0.5rem;
        margin-left: 42%;
        color: red;
        background-color: #000;
        border: 1px solid red;
        font-size: 2rem;
    }
    .sign_up_button:hover {
        cursor: pointer;
    }
    .registration_button {
        box-shadow: 3px 4px 2px rgb(49, 37, 37);
        font-family: cocogoose;
        height: 4rem;
        width: 15%;
        border-radius: 0.5rem;
        margin-left: 38%;
        background-color: red;
        border: 1px solid red;
        margin-bottom: 10%;
        font-size: 2rem;
    }
    .registration_button:hover {
        cursor: pointer;
    }
    .username_input {
        width: 30%;
        height: 3rem;
        border-radius: 0.5rem;
        margin-left: 35%;
        border: 1px solid red;
        margin-bottom: 2%;
        font-size: 1.8rem;
    }
    .password_input {
        width: 30%;
        height: 3rem;
        border-radius: 0.5rem;
        margin-left: 35%;
        border: 1px solid red;
        margin-bottom: 3%;
        font-size: 1.8rem;
    }

    .logo-small {
        width: 8%;
        height: auto;
    }

    .main-header {
        max-height: 250px;
        overflow: hidden;
    }
}

/* ----------------------------HOME---------------------------------*/
.main-header{
    padding: 0;
    margin: 0;
}
.logo-small {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 2;
    height: auto;
}

.header-picture {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    overflow: auto;
}

.category-section-homepage {
    z-index: 3;
    display: block;
    margin: 5px;
    width: 100%;
}

.category-title-homepage {
    font-family: cocogoose;
    color: rgb(139, 3, 3);
    padding: 0;
    margin-bottom: 0;
    font-size: 1.1em;
}

/* ----------------------------CATEGORIES ---------------------------------*/

.category-name {
    font-family: cocogoose;
    color: rgb(139, 3, 3);
    font-size: 1rem;
    margin-top: 1em;
}
.grid-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
}

.movies {
  background: black;
  padding: 0.5em 0;
  color: rgba(#f8f8f8 .6);
  margin-bottom: 20%;
}

.movie {
    position: relative;
    padding: 0;
    margin: 0;
}
.image_category {
  position: relative;
  width: 100%;
    display: block;
}
/*--------------------------NAV-BAR---------------------------------*/

.navbar{
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
  width: 100%;
  display: flex;
  }
 
  .navbar a{
    color: rgb(206, 25, 25);
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar a:hover{
    color: white;  
  }